@charset "utf-8";
@import "normalize";
@import url('dropzone.css');
@import url('pace.css');

body {
  background: white;
  text-align: left;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
